
<div class="container">
   <div class="form-box">
       <form #frm="ngForm" (ngSubmit)="CalculatorResult()" >
        <h2>Calculator</h2>
          <label for="number1">Number 1</label>
          <input type="number" name="number1" id="number1" [(ngModel)]="number1" />

          <label for="number">Number 2</label>
          <input type="number" name="number2" id="number2" [(ngModel)]="number2" />

          <label for="Coeficient">Operation:</label>
              <select id="Coeficient" name="Coeficient"  [(ngModel)]="coeficient">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="/">/</option>
                <option value="x">x</option>
              </select>

          <button type="submit" (click)="CalculatorResult()">Add</button>
       </form>



       @if (result)  {
         <div class="result-display">
           <p>Result: <span id="result">{{result}}</span></p>
         </div>
       }
       @else {
        <div class="result-display">
          <p>Result: <span id="result">Without any value</span></p>
        </div>
       }


      </div>
    </div>
